<header>
  <div class="container">
    <div class="lewo">
    <a (click)="wyloguj()" class="main">Wyloguj</a>
    <a routerLink="/adminHome" class="main">Menu admina</a>
    </div>
    <nav>

      <ul>

    <li>
      <a routerLink="/adminFind">Znajdz</a>
    </li>
    <li>
      <a routerLink="/lista">Lista</a>
    </li>

    <li>
      <a routerLink="/funkcje">Funkcje</a>
    </li>

    <li>
      <a routerLink="/dane">Dane</a>
    </li>

    <!-- <li>
      <a routerLink="/dodaj">Dodaj</a>
    </li> -->

  </ul>

    </nav>
  </div>

  </header>
